{erl_opts, [debug_info]}.
{deps, []}.

%% EUnit configuration
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "_build/test"}]}}]}.

%% Cover configuration
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

%% Dialyzer configuration
{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns,
        unknown
    ]},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [kernel, stdlib]},
    {plt_location, local},
    {base_plt_location, global}
]}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, []}
    ]}
]}.