{erl_opts, [debug_info]}.
{deps, []}.

%% EUnit configuration
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "_build/test"}]}}]}.

%% Cover configuration
{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
        {deps, []}
    ]}
]}.